body {
    accent-color: var(--theme-accent-color);
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
    color: var(--theme-text-color);
    border-radius: 3px;
    padding: 3px;
}

textarea {
    width: 100%;
}

.search-form {
    display: flex;
    flex-direction: row;
    gap: 30px;
    flex-wrap: wrap;
    margin: 40px 20px;
    justify-content: left;
    align-items: center;
    input[type="text"] {
        border-radius: 10px;
        width: 300px;
        height: 42px;
        padding: 0px 10px;
    }
    .slider-container {
        display: flex;
        flex-direction: column;
    }
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #0070f3;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    margin: 20px auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
