.unstyled-list {
    /* Use [role='list'] to remove list style */
    padding: 0;
    margin: 0;
}

ul,
ol {
    margin: 0 0 1.5em 3em;
}

ul {
    list-style: disc;
}

ol {
    list-style: decimal;
}

li > ul,
li > ol {
    margin-bottom: 0;
    margin-left: 1.5em;
}

dt {
    font-weight: 700;
}

dd {
    margin: 0 1.5em 1.5em;
}

.product-in-fridge {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 35px;
    box-shadow: var(--shadow-3);
    padding: var(--size-fluid-2);
    margin-block: var(--size-fluid-2);

    .delete-button-in-list {
        align-self: flex-end;
    }
}

.message-in-list {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    box-shadow: var(--shadow-3);
    padding: 4px;
    margin-block: var(--size-fluid-2);

    button {
        align-self: flex-end;
    }

    .form-full {
        grid-column-start: 1;
        grid-column-end: span 5;
        grid-row-start: 2;
        grid-row-end: span 1;
    }
}

.btn-delete-fridge-list {
    width: 100%;
    text-align: right;
}

.btn-take {
    display: block;
    width: 100%;
    text-align: right;
    button {
        background-color: transparent;
        color: var(--blue);
    }
}

.add-product {
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    box-shadow: var(--shadow-3);
    //padding: var(--size-fluid-2);
    margin-block: var(--size-fluid-2);

    .add-product__link {
        display: flex;
        gap: 35px;
        padding: 0px 0px 0px 35px;
    }
}
